* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px none rgb(255,0,0);
	outline:rgb(255,0,0) none 1px;
	
	overflow: hidden;
}

body {
	background-color : rgb(0,128,255);
}

img.bg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	
	opacity: 0.7;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=70);
}

div.align {
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
}

div.ScrollInit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 4;
}

div.menu {
	color: rgb(168,168,168);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10%;
	
	opacity: 0.4;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=40);
	background-color: rgb(0,0,0);
	z-index: 3;
}

div.menulinks {
	color: rgb(0,0,0);
	position: absolute;
	left: 5px;
	top: 6%;
	width: 100%;
	height: 5%;
	
	z-index: 4;
}

textarea.code {
	color: rgb(0,128,0);
	background-color: rgb(0,0,0);
    border: 1px solid red;
	overflow: auto;
	width:49%;
} 

div.code {
	color: rgb(0,128,0);
	background-color: rgb(0,0,0);
    border: 1px solid red;
	overflow: auto;
	width:49%;
} 

a.menubutton {
	position: relative;
	/*top:25%;*/
	top:0%;
	outline: 1px solid rgb(168,168,168);
	opacity: 0.5;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=50);
	background-color: rgb(128,128,128);
	
	zoom: 1;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align:center;
}

a.menubutton:visited {
	position: relative;
	top:0%;
	border: 1px solid rgb(168,168,168);
	opacity: 0.4;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=40);
	background-color: rgb(128,128,128);
	
	/*Fix ie transparency bug*/
	zoom: 1;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align:center;
}

div.ContentArea {
	position: absolute;
	left: 1%;
	top: 11%;
	width: 98%;
	height: 87%;
	color: rgb(205,205,205);
	
	margin: 2px 0px 0px 2px;
	overflow: hidden;
	
	z-index: 4;
}

div.ContentAreaBG {
	position: absolute;
	left: 1%;
	top: 11%;
	width: 98%;
	height: 87%;
	color: rgb(255,255,255);
	
	border: 2px solid rgb(255,255,255);
	
	overflow: hidden;
	
	opacity: 0.7;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=70);
	background-color: rgb(0,0,0);
	z-index: 3;
}

div.Scrollregion {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200%;
	height: 200%;
	overflow: visible;
	z-index: 4;
}

img.alignRight
{
	position: absolute;
	right: 0px;
	z-index: 5;
	
	width: 16px;
	height: 16px;
	
	opacity: 0.4;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=40);
}

img.alignRight2
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 5;
	
	width: 16px;
	height: 16px;
	
	opacity: 0.4;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=40);
}

a.Config
{
	position: absolute;
	right: 0px;
	top: 0px;
}

h1.black {
	left: 5px;
	color: rgb(255,255,255);
	opacity: 1.0;
	/*Fix for earlyier ie*/
	filter: Alpha(opacity=100);
}

b.black {
	z-index: 5;
}

a {
    color: rgb(0,128,0);
}

img.pngfix {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Gardent_test.png', sizingMethod='scale'); /*Internet explorer dependant code*/
}
